.unit-content-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.unit-sidebar {
    display: flex;
    flex-direction: column;
}


.unit-sidebar-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    height: 100%;

    flex: 1;
    overflow-y: auto;
    min-height: 0;
}

.mobile-toc-details > summary {
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1em;
    padding: 0.25rem 0;
}


.enumerate {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1.5rem;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.enumerate li > * {
    margin-bottom: 0.5rem;
}

.itemize {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1.5rem;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.itemize li > * {
    margin-bottom: 0.5rem;
}


.block-container, .proof {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.proof {
    /* Move proofs a bit up so they are closer to their respective blocks.  */
    margin-top: -0.5rem;
}

/*
XyPic does not concern itself with CSS style sheets, so it picks its own colour.
As a result, this quick and dirty transform is the only thing I can do to it as of now.
 */
.dark .MathJax mjx-xypic {
    filter: invert(1);
}


.tikz-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    user-select: none;
}

.dark .tikz-container svg {
    filter: invert(1);
}

/* Overwrite the margins. */
mjx-container[jax="CHTML"][display="true"] {
    margin: 0 0 !important;
}
